// Variables
// The variables will be imported first


// Color variables 
$blink_white: #ffffff;
$blink_platinum: #E6E6E6;
$blink_medium-aqua-marine: #35DEA3;
$blink_rich-black: #002F2F;
$blink_deep-space-sparkle: #516969;
$blink_quick-silver: #A2A2A2;
$blink_onxy: #424242;
$blink_jet: #2F2F2F;
$blink_black: #000000;


// Type variables
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5.9375rem;
    letter-spacing: -1.5px;
    font-weight: 600;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.625rem;
    letter-spacing: -0.5px;
    font-weight: 600;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.875rem;
    letter-spacing: 0px;
    font-weight: 400;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.0625rem;
    letter-spacing: 0.25px;
    font-weight: 400;
}
h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4375rem;
    letter-spacing: 0px;
    font-weight: 400;
}
h6 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1875rem;
    letter-spacing: 0.15px;
    font-weight: 500;
}
.subtitle-big {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9375rem;
    letter-spacing: 0.15px;
    font-weight: 400;
}
.subtitle-small {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8125rem;
    letter-spacing: 0.1px;
    font-weight: 500;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
}
p .small {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 0.25px;
    font-weight: 400;
}
button,
input {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    letter-spacing: 1.25px;
    font-weight: 400;
}
p .overline {
    font-family: 'Roboto', sans-serif;
    font-size: 0.625rem;
    letter-spacing: 1.5px;
    font-weight: 400;
}


// Base layout
.container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 62px 60px 1fr;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: silver;
}

header {
    // Sets up the header layout
    background-color: $blink_rich-black;
    grid-column-start: 1;
    grid-column-end: 3;
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        #user-info-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: auto;
            #notifications {
                width: 20px;
            }
            #profile-image {
                width: 30px;
                height: 30px;
            }
        }
    }
    @media (min-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

#sidebar {
    // Sets up the sidebar layout
    background-color: $blink_deep-space-sparkle;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #home,
    #charts,
    #members,
    #settings {
        width: 35px;
        height: 35px;
        margin: 0.45rem 0.7rem;
    }
    @media (min-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 5;
        flex-direction: column;
    }
}

main {
    background-color: $blink_platinum;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    @media (min-width: 768px) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 5;
    }
}


// Base style
* {
    font-family: serif;
}

#student-name {
    color: $blink_platinum;
    margin: 0 15px 0 5px;
}

#profile-image {
    border-radius: 100px;
    margin: 0 5px 0 12px;
}

#notifications {
    fill: $blink_platinum;
    border-right: 0.2px solid $blink_platinum;
    padding: 0 12px;
}

#logo {
    color: $blink_platinum;
    font-weight: 400;
    margin-left: 1rem;
}

#dash-tab-bar {
    // Sets up the dash bar layout
    display: grid;
    grid-template-columns: minmax(120px, 0.25fr) 1fr;
    align-items: center;
    justify-content: center;
    background-color: $blink_quick-silver;
    #dashboard-tab {
        background-color: $blink_platinum;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        border-top: solid 2px $blink_white;
        padding: 20px;
    }
    #empty-tab-bar {
        background-color: $blink_quick-silver;
        grid-column-start: 2;
        grid-column-end: 3;
        border-left: solid 2px $blink_white;
        border-bottom: solid 2px $blink_white;
        padding: 27px 10px;
    }
}