// IMPORT
@import "_color.scss",
        "_typography.scss";

// Type variables

// Base layout
.container {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 62px 60px 1fr;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: silver;
}

header {
    // Sets up the header layout
    background-color: $blink_rich-black;
    grid-column-start: 1;
    grid-column-end: 3;
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
        #user-info-block {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: auto;
            hr {
                width: 20px;
                transform: rotate(90deg);
            }
            #notifications {
                width: 20px;
            }
            #profile-image {
                width: 30px;
                height: 30px;
            }
        }
    }
    @media (min-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

#sidebar {
    // Sets up the sidebar layout
    background-color: $blink_deep-space-sparkle;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    #home-icn,
    #charts-icn,
    #members-icn,
    #settings-icn {
        width: 35px;
        height: 35px;
        margin: 0.45rem 0.7rem;
    }
    @media (min-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 5;
        flex-direction: column;
    }
}

main {
    background-color: $blink_platinum;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    @media (min-width: 768px) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 5;
    }
}


// Base style
* {
    font-family: serif;
}

#student-name {
    color: $blink_platinum;
    margin: 0 15px 0 5px;
}

#profile-image {
    border-radius: 100px;
    margin: 0 5px 0;
}

#notifications {
    fill: $blink_platinum;
    padding: 4px;
    :hover {
        @keyframes wiggle {
            30% {
              transform: rotate(25deg);
            }
            50% {
              transform: rotate(0);
            }
            70% {
              transform: rotate(25deg);
            }
        }
        animation: wiggle 1s;
        transform-origin: 50% 50%;
        transform-box: fill-box;
    }
}

input[type="button"] {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    height: 50px;
    background-color: $blink_rich-black;
    color: $blink_white;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
}

// ::::: The toggle switch :::::
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $blink_platinum;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $blink_rich-black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #002F2F;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
// ::::: The toggle switch :::::

select,
option
input[type="text"] {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    height: 40px;
    border-radius: 5px;
    border: $blink_deep-space-sparkle 2px solid;
    color: $blink_quick-silver;
    background-color: $blink_platinum;
    padding-left: 10px;
    margin-bottom: 10px;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    resize: none;
    height: 120px;
    border-radius: 5px;
    border: $blink_deep-space-sparkle 2px solid;
    color: $blink_quick-silver;
    background-color: $blink_platinum;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;   
}

#logo {
    color: $blink_platinum;
    font-weight: 400;
    margin-left: 1rem;
}

#dash-tab-bar {
    // Sets up the dash bar layout
    display: grid;
    grid-template-columns: minmax(120px, 0.20fr) 1fr;
    align-items: center;
    justify-content: center;
    background-color: $blink_onxy;
    #dashboard-tab {
        background-color: $blink_platinum;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        border-top: solid 2px $blink_quick-silver;
        padding: 20px;
    }
    #empty-tab-bar {
        grid-column-start: 2;
        grid-column-end: 3;
        border-left: solid 2px $blink_quick-silver;
        border-bottom: solid 2px $blink_quick-silver;
        padding: 27px 10px;
    }
}

#alert-notification-bar {
    // Sets up the notification bar
    background-color: $blink_deep-space-sparkle;
    color: $blink_white;
    display: flex;
    border-radius: 5px;
    padding: 12px;
    margin: 1rem 1rem;
    p {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    #alert-cancle-button {
        margin-left: auto;
    }
}

#submission-successfull-notification-bar {
    // Sets up the notification bar
    display: flex;
    background-color: $blink_medium-aqua-marine;
    color: $blink_white;
    border-radius: 5px;
    padding: 12px;
    margin: 1rem 1rem;
    p {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        
    }
    #submission-successfull-cancle-button {
        margin-left: auto;
    }
}

#submission-fail-notification-bar {
    // Sets up the notification bar
    display: flex;
    background-color: $blink_light-coral;
    color: $blink_white;
    border-radius: 5px;
    padding: 12px;
    margin: 1rem 1rem;
    p {
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    #submission-fail-cancle-button {
        margin-left: auto;
    }
}

#daily-traffic {
    border-bottom: solid 1px $blink_quick-silver;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
}

#web-traffic {
    // Sets up the chronological tab bar
    border-bottom: solid 1px $blink_quick-silver;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
    nav {
        display: flex;
        flex-direction: row;
        gap: .7rem;
        padding: .5rem 0;
        input {
            background-color: rgba(0, 47, 47, 0.25);
            color: $blink_white;
            border-radius: 0.5rem;
            border: none;
            font-family: 'Roboto', sans-serif;
            font-size: 0.875rem;
            letter-spacing: 1.25px;
            font-weight: 400;
            display: block;
            padding: 10px;
        }
    }
    #hourly-tab:focus,
    #daily-tab:focus,
    #weekly-tab:focus,
    #monthly-tab:focus {
        background-color: $blink_deep-space-sparkle;
    }
    #chronological-tab-bar > input:active {
        // Selects all the children elments of the chronological-tab-bar.
        // The elements mus be input thoug.
        background-color: $blink_medium-aqua-marine;
    }
}

#mobile-traffic {
    // Sets up the chronological tab bar
    border-bottom: solid 1px $blink_quick-silver;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
    #mobileTraffic {
        max-width: 300px;
        margin: 0 auto;
    }
}

#social-stats {
    background-color: $blink_white;
    border-bottom: solid 1px $blink_quick-silver;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
}

#social-stats__card-container-facebook,
#social-stats__card-container-instagram,
#social-stats__card-container-twitter {
    // Sets up the card-container
    display: flex;
    flex-direction: row;
    background-color: $blink_platinum;
    border-radius: 7px;
    border: 1px solid $blink_quick-silver;
    padding: 1rem;
    margin-bottom: 1rem;
    .icon-container {
        // Sets the icon in the middle of the circle.
        // Sets the cize of the backgroun circle
        display: flex;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: $blink_rich-black;
        align-items: center;
        svg {
            margin: 0 auto;
        }
    }
    .type-container {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
}

#new-members,
#recent-activity {
    // Sets up the new member section.
    // And also the recent activity section.
    background-color: $blink_white;
    border-bottom: solid 1px $blink_quick-silver;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
    .new-members-card {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        img {
            width: 75px;
            border-radius: 50%;
        }
        .type-container {
            text-align: center;
            p {
                margin: 5px 0;
            }
            .email {
                color: $blink_rich-black;
                font-weight: 500;
            }
        }
        hr {
            margin-top: 1rem;
            width: 90%;
        }
    }
}

#message-user {
    // Sets up the message user section
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px $blink_quick-silver;
    background-color: $blink_white;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
}

#settings {
    // Sets up the settings section
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px $blink_quick-silver;
    background-color: $blink_white;
    padding: 1rem;
    h6 {
        margin: 0.5rem 0;
    }
    #profile-settings__wraper,
    #email-notification-settings__wraper {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 343px;
        label.switch {
            margin-left: auto;
        }
    }
    select {
        margin-top: 1rem;
    }
    .button-area {
        display: flex;
        flex-direction: row;
        margin-top: 0.5rem;
        #cancle-button {
            background-color: $blink_quick-silver;
            flex-grow: 1;
            margin-left:5px;
        }
        #save-button {
            flex-grow: 1;
            margin-right:5px;
        }
    }
}