h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 5.9375rem;
  letter-spacing: -1.5px;
  font-weight: 600;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.625rem;
  letter-spacing: -0.5px;
  font-weight: 600;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.875rem;
  letter-spacing: 0px;
  font-weight: 400;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.0625rem;
  letter-spacing: 0.25px;
  font-weight: 400;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4375rem;
  letter-spacing: 0px;
  font-weight: 400;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1875rem;
  letter-spacing: 0.15px;
  font-weight: 500;
}

.subtitle-big {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9375rem;
  letter-spacing: 0.15px;
  font-weight: 400;
}

.subtitle-small {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8125rem;
  letter-spacing: 0.1px;
  font-weight: 500;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 400;
}

b {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 800;
}

p .small {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  font-weight: 400;
}

button,
input {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1.25px;
  font-weight: 400;
}

p .overline {
  font-family: 'Roboto', sans-serif;
  font-size: 0.625rem;
  letter-spacing: 1.5px;
  font-weight: 400;
}

p.accent {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.15px;
  font-weight: 500;
  color: #002F2F;
  margin: 0;
}

p.big-number {
  font-family: 'Poppins', sans-serif;
  font-size: 2.7rem;
  letter-spacing: 0.15px;
  font-weight: 300;
  color: #424242;
  margin: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 1fr;
      grid-template-columns: 70px 1fr;
  -ms-grid-rows: 62px 60px 1fr;
      grid-template-rows: 62px 60px 1fr;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: silver;
}

header {
  background-color: #002F2F;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 0;
}

header nav #user-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

header nav #user-info-block hr {
  width: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header nav #user-info-block #notifications {
  width: 20px;
}

header nav #user-info-block #profile-image {
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  header {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
}

#sidebar {
  background-color: #516969;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sidebar #home,
#sidebar #charts,
#sidebar #members,
#sidebar #settings {
  width: 35px;
  height: 35px;
  margin: 0.45rem 0.7rem;
}

@media (min-width: 768px) {
  #sidebar {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main {
  background-color: #E6E6E6;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
}

@media (min-width: 768px) {
  main {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 5;
  }
}

* {
  font-family: serif;
}

#student-name {
  color: #E6E6E6;
  margin: 0 15px 0 5px;
}

#profile-image {
  border-radius: 100px;
  margin: 0 5px 0;
}

#notifications {
  fill: #E6E6E6;
  padding: 4px;
}

#notifications :hover {
  -webkit-animation: wiggle 1s;
          animation: wiggle 1s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transform-box: fill-box;
}

@-webkit-keyframes wiggle {
  30% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  70% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

@keyframes wiggle {
  30% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  70% {
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
}

#logo {
  color: #E6E6E6;
  font-weight: 400;
  margin-left: 1rem;
}

#dash-tab-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(120px, 0.2fr) 1fr;
      grid-template-columns: minmax(120px, 0.2fr) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #424242;
}

#dash-tab-bar #dashboard-tab {
  background-color: #E6E6E6;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  border-top: solid 2px #A2A2A2;
  padding: 20px;
}

#dash-tab-bar #empty-tab-bar {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  border-left: solid 2px #A2A2A2;
  border-bottom: solid 2px #A2A2A2;
  padding: 27px 10px;
}

#alert-notification-bar {
  background-color: #516969;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  padding: 12px;
  margin: 1rem 1rem;
}

#alert-notification-bar p {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
}

#alert-notification-bar #alert-cancle-button {
  margin-left: auto;
}

#daily-traffic {
  border-bottom: solid 1px #A2A2A2;
  padding: 1rem;
}

#daily-traffic h6 {
  margin: 0.5rem 0;
}

#web-traffic {
  border-bottom: solid 1px #A2A2A2;
  padding: 1rem;
}

#web-traffic h6 {
  margin: 0.5rem 0;
}

#web-traffic nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: .7rem;
  padding: .5rem 0;
}

#web-traffic nav input {
  background-color: rgba(0, 47, 47, 0.25);
  color: #ffffff;
  border-radius: 0.5rem;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  letter-spacing: 1.25px;
  font-weight: 400;
  display: block;
  padding: 10px;
}

#web-traffic #hourly-tab:focus,
#web-traffic #daily-tab:focus,
#web-traffic #weekly-tab:focus,
#web-traffic #monthly-tab:focus {
  background-color: #516969;
}

#web-traffic #chronological-tab-bar > input:active {
  background-color: #35DEA3;
}

#mobile-traffic {
  border-bottom: solid 1px #A2A2A2;
  padding: 1rem;
}

#mobile-traffic h6 {
  margin: 0.5rem 0;
}

#mobile-traffic #mobileTraffic {
  max-width: 300px;
  margin: 0 auto;
}

#social-stats {
  background-color: #ffffff;
  border-bottom: solid 1px #A2A2A2;
  padding: 1rem;
}

#social-stats h6 {
  margin: 0.5rem 0;
}

#social-stats__card-container-facebook,
#social-stats__card-container-instagram,
#social-stats__card-container-twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #E6E6E6;
  border-radius: 7px;
  border: 1px solid #A2A2A2;
  padding: 1rem;
  margin-bottom: 1rem;
}

#social-stats__card-container-facebook .icon-container,
#social-stats__card-container-instagram .icon-container,
#social-stats__card-container-twitter .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #002F2F;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#social-stats__card-container-facebook .icon-container svg,
#social-stats__card-container-instagram .icon-container svg,
#social-stats__card-container-twitter .icon-container svg {
  margin: 0 auto;
}

#social-stats__card-container-facebook .type-container,
#social-stats__card-container-instagram .type-container,
#social-stats__card-container-twitter .type-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
}

#new-members {
  background-color: #E6E6E6;
  border-bottom: solid 1px #A2A2A2;
  padding: 1rem;
}

#new-members h6 {
  margin: 0.5rem 0;
}

#new-members .new-members-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

#new-members .new-members-card img {
  width: 75px;
  border-radius: 50%;
}

#new-members .new-members-card .type-container {
  text-align: center;
}

#new-members .new-members-card .type-container p {
  margin: 5px 0;
}

#new-members .new-members-card .type-container .email {
  color: #002F2F;
  font-weight: 500;
}

#new-members .new-members-card hr {
  margin-top: 1rem;
  width: 90%;
}
/*# sourceMappingURL=style-main.css.map */